<!DOCTYPE html>

<head>

    <div class="topnav">
        <a href="home.html"><img width="100px" height="auto" src="static/logo_purple (1).png"></a>
        <ul>
            <li><a style="font-family: 'Space Grotesk' " class="active" href="home.html">HOME</a></li>
            <li><a style="font-family: 'Space Grotesk' " href="scout.html">SCOUTING</a></li>
            <li style="float:right"><a style="font-family: 'Space Grotesk' ">Developed by Soumik Chemudupati</a></li>
        </ul>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hazy Scout</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cube">
        <div class="top"></div>
        <div>
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
        </div>
    </div>
    <div class="txt">
        <p>
            <center>Purple Scout</center>
        </p>
    </div>
    <div class="but">
        <a href="scout.html"><button class="button">GET STARTED!</button> </a>
    </div>
</body>

<!-- <div class="footer">
    <p><b>Courtesy of LASA Robotics, Software Developed by Soumik Chemudupati</b></p>
</div> -->

</html>